
.calendar-table {
    /* outline: 2px solid red; */
    border-collapse: collapse;
    width: 100%;
}

.calendar-table td, th {
    border: 1px solid var(--dark);
    padding: 5px 7px;
    text-align: center;
    height: 50px;
    width: 100px;
}

.calendar-day-unavailable {
    background: var(--danger);
    color: var(--white);
}

.calendar-day-link {
    display: block;
    width: 100%;
    height: 100%;
}