
.calendar-table {
    border: 1px solid red;
    border-collapse: collapse;
}

.calendar-table td, th {
    border: 1px solid var(--dark);
    padding: 5px 7px;
    text-align: center;
    height: 50px;
    width: 100px;
}
