:root {
    --dark: rgb(80, 80, 80);
    --white: rgb(232, 230, 230);
    --danger: rgb(207, 96, 96);
    --success: rgb(113, 170, 117);
    --warning: rgb(193, 202, 67);
    --muted: rgb(150, 150, 150);
}